.order-details-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fafafa;
  border-left: 3px solid #b30000; /* rojo pizza hut */
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  color: #b30000;
  margin-bottom: 10px;
}

.details-section {
  background: white;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
}

.details-section h3 {
  margin-bottom: 10px;
  color: #121212;
  font-size: 18px;
  font-weight: 600;
}

.details-items {
  padding-left: 20px;
  margin-top: 6px;
}

.details-items li {
  margin-bottom: 4px;
}

.details-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* botones */

.status-btn {
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  font-weight: 600;
}

.status-btn:hover {
  transform: scale(1.03);
}

/* estados */

.cooking {
  background: #c41d00;     /* rojo intenso */
}

.packed {
  background: #1b1b1b;     /* negro */
}

.delivered {
  background: #388f45;     /* verde */
}