/* ---------- RESET GLOBAL ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* ---------- BASE ---------- */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #222;
}

/* scroll más suave */
html {
  scroll-behavior: smooth;
}

/* quitar azul feo en móviles */
button, input {
  outline: none;
}

/* ---------- LINKS ---------- */

a {
  text-decoration: none;
  color: inherit;
}